{% extends 'base.html.twig' %}

{% block title %}Benvenuto {{ name }}{% endblock %}

{% block body %}
<h1 style='color: blue;'><i>Benvenuto <span style='color: red;'>{{ name }}</span></i></h1>
{% endblock %}