<h1 style='color: green; font-style: italic;'>Numero Casuale dal service: <span style='color: red;'>{{ casual_number }}</span></h1>
<h1 style='color: blue;'><i>Oggi ('Stampa Ora'): <span style='color: red;'>{{ stampaOra() }}</span></i></h1>
